body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:923px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:24px;
  width:909px;
  height:71px;
}
#u1_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:30px;
}
#u1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:30px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:85px;
  word-wrap:break-word;
}
#u3_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:30px;
}
#u3 {
  border-width:0px;
  position:absolute;
  left:89px;
  top:0px;
  width:111px;
  height:30px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u4 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:107px;
  word-wrap:break-word;
}
#u5_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  height:30px;
}
#u5 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:0px;
  width:237px;
  height:30px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u6 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:233px;
  word-wrap:break-word;
}
#u7_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:30px;
}
#u7 {
  border-width:0px;
  position:absolute;
  left:437px;
  top:0px;
  width:286px;
  height:30px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u8 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:282px;
  word-wrap:break-word;
}
#u9_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:30px;
}
#u9 {
  border-width:0px;
  position:absolute;
  left:723px;
  top:0px;
  width:181px;
  height:30px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u10 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:177px;
  word-wrap:break-word;
}
#u11_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:36px;
}
#u11 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:89px;
  height:36px;
}
#u12 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:85px;
  word-wrap:break-word;
}
#u13_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:36px;
}
#u13 {
  border-width:0px;
  position:absolute;
  left:89px;
  top:30px;
  width:111px;
  height:36px;
  font-size:11px;
  color:#000000;
}
#u14 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:107px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  height:36px;
}
#u15 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:30px;
  width:237px;
  height:36px;
  color:#000000;
}
#u16 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:233px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:36px;
}
#u17 {
  border-width:0px;
  position:absolute;
  left:437px;
  top:30px;
  width:286px;
  height:36px;
}
#u18 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:282px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:36px;
}
#u19 {
  border-width:0px;
  position:absolute;
  left:723px;
  top:30px;
  width:181px;
  height:36px;
}
#u20 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:177px;
  word-wrap:break-word;
}
