body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1202px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2892_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:419px;
  height:746px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2892 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:93px;
  width:419px;
  height:746px;
}
#u2893 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:365px;
  width:415px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2894_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FF0000;
}
#u2894 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:378px;
  width:89px;
  height:27px;
  font-size:20px;
  color:#FF0000;
}
#u2895 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u2896_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:190px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2896 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:530px;
  width:370px;
  height:190px;
}
#u2897 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  word-wrap:break-word;
}
#u2898_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2898 {
  border-width:0px;
  position:absolute;
  left:46px;
  top:491px;
  width:53px;
  height:19px;
}
#u2899 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u2900_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:419px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2900 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:794px;
  width:419px;
  height:45px;
}
#u2901 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:415px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2902_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:2px;
}
#u2902 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:517px;
  width:419px;
  height:1px;
}
#u2903 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:415px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2904_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2904 {
  border-width:0px;
  position:absolute;
  left:397px;
  top:361px;
  width:27px;
  height:19px;
}
#u2905 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u2906_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2906 {
  border-width:0px;
  position:absolute;
  left:46px;
  top:334px;
  width:279px;
  height:19px;
}
#u2907 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  word-wrap:break-word;
}
#u2908_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:419px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2908 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:53px;
  width:419px;
  height:64px;
}
#u2909 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:415px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2910_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:419px;
  height:191px;
}
#u2910 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:93px;
  width:419px;
  height:191px;
}
#u2911 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:88px;
  width:415px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2912_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2912 {
  border-width:0px;
  position:absolute;
  left:203px;
  top:64px;
  width:65px;
  height:21px;
  font-size:16px;
}
#u2913 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u2914_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2914 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:64px;
  width:11px;
  height:19px;
}
#u2915 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u2916_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:419px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2916 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:418px;
  width:419px;
  height:47px;
}
#u2917 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:415px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2918_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u2918 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:434px;
  width:20px;
  height:20px;
}
#u2919 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:16px;
  word-wrap:break-word;
}
#u2920_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2920 {
  border-width:0px;
  position:absolute;
  left:92px;
  top:434px;
  width:53px;
  height:19px;
}
#u2921 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u2922_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u2922 {
  border-width:0px;
  position:absolute;
  left:179px;
  top:434px;
  width:20px;
  height:20px;
}
#u2923 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:16px;
  word-wrap:break-word;
}
#u2924_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2924 {
  border-width:0px;
  position:absolute;
  left:208px;
  top:434px;
  width:53px;
  height:19px;
}
#u2925 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u2926_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u2926 {
  border-width:0px;
  position:absolute;
  left:298px;
  top:434px;
  width:20px;
  height:20px;
}
#u2927 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:16px;
  word-wrap:break-word;
}
#u2928_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2928 {
  border-width:0px;
  position:absolute;
  left:327px;
  top:434px;
  width:53px;
  height:19px;
}
#u2929 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u2930_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2930 {
  border-width:0px;
  position:absolute;
  left:353px;
  top:387px;
  width:72px;
  height:19px;
}
#u2931 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  white-space:nowrap;
}
#u2932_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FF6600;
}
#u2932 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:297px;
  width:375px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FF6600;
}
#u2933 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  white-space:nowrap;
}
#u2934_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2934 {
  border-width:0px;
  position:absolute;
  left:483px;
  top:298px;
  width:40px;
  height:19px;
}
#u2935 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u2936 {
  border-width:0px;
  position:absolute;
  left:415px;
  top:308px;
  width:0px;
  height:0px;
}
#u2936_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:57px;
  height:8px;
}
#u2936_seg1 {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:-9px;
  width:18px;
  height:18px;
}
#u2936_seg2 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:-9px;
  width:18px;
  height:18px;
}
#u2937 {
  border-width:0px;
  position:absolute;
  left:-24px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2938_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2938 {
  border-width:0px;
  position:absolute;
  left:465px;
  top:332px;
  width:53px;
  height:19px;
}
#u2939 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u2940 {
  border-width:0px;
  position:absolute;
  left:315px;
  top:341px;
  width:0px;
  height:0px;
}
#u2940_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:7px;
}
#u2940_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-1px;
  width:159px;
  height:8px;
}
#u2940_seg2 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:18px;
}
#u2940_seg3 {
  border-width:0px;
  position:absolute;
  left:143px;
  top:-6px;
  width:18px;
  height:18px;
}
#u2941 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:-5px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2942_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2942 {
  border-width:0px;
  position:absolute;
  left:185px;
  top:12px;
  width:97px;
  height:21px;
  font-size:16px;
}
#u2943 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u2944_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2944 {
  border-width:0px;
  position:absolute;
  left:465px;
  top:434px;
  width:92px;
  height:19px;
}
#u2945 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u2946 {
  border-width:0px;
  position:absolute;
  left:396px;
  top:444px;
  width:0px;
  height:0px;
}
#u2946_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:68px;
  height:8px;
}
#u2946_seg1 {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:-9px;
  width:18px;
  height:18px;
}
#u2946_seg2 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:-9px;
  width:18px;
  height:18px;
}
#u2947 {
  border-width:0px;
  position:absolute;
  left:-18px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2948_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2948 {
  border-width:0px;
  position:absolute;
  left:472px;
  top:379px;
  width:139px;
  height:38px;
}
#u2949 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u2950 {
  border-width:0px;
  position:absolute;
  left:425px;
  top:397px;
  width:0px;
  height:0px;
}
#u2950_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:46px;
  height:8px;
}
#u2950_seg1 {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:-9px;
  width:18px;
  height:18px;
}
#u2950_seg2 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:-9px;
  width:18px;
  height:18px;
}
#u2951 {
  border-width:0px;
  position:absolute;
  left:-29px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2952_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2952 {
  border-width:0px;
  position:absolute;
  left:483px;
  top:361px;
  width:191px;
  height:19px;
}
#u2953 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  white-space:nowrap;
}
#u2954 {
  border-width:0px;
  position:absolute;
  left:427px;
  top:369px;
  width:0px;
  height:0px;
}
#u2954_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:6px;
}
#u2954_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-2px;
  width:60px;
  height:8px;
}
#u2954_seg2 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:18px;
}
#u2954_seg3 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:-7px;
  width:18px;
  height:18px;
}
#u2955 {
  border-width:0px;
  position:absolute;
  left:-23px;
  top:-6px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2956_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 0, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u2956 {
  border-width:0px;
  position:absolute;
  left:84px;
  top:797px;
  width:300px;
  height:39px;
  color:#FFFFFF;
}
#u2957 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:296px;
  word-wrap:break-word;
}
#u2958_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2958 {
  border-width:0px;
  position:absolute;
  left:469px;
  top:809px;
  width:196px;
  height:19px;
}
#u2959 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  white-space:nowrap;
}
#u2960_img {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-9px;
  width:61px;
  height:19px;
}
#u2960p000 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-2px;
  width:46px;
  height:4px;
}
#u2960p000_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:48px;
  height:6px;
}
#u2960p001 {
  border-width:0px;
  position:absolute;
  left:-8px;
  top:-10px;
  width:20px;
  height:20px;
}
#u2960p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-1px;
  width:20px;
  height:22px;
}
#u2960p002 {
  border-width:0px;
  position:absolute;
  left:29px;
  top:-10px;
  width:20px;
  height:20px;
}
#u2960p002_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:22px;
  height:22px;
}
#u2960.compound {
  width:0px;
  height:0px;
}
#u2960 {
  border-width:0px;
  position:absolute;
  left:416px;
  top:817px;
  width:43px;
  height:1px;
}
#u2961 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2962_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:39px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2962 {
  border-width:0px;
  position:absolute;
  left:82px;
  top:861px;
  width:300px;
  height:39px;
}
#u2963 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:296px;
  word-wrap:break-word;
}
#u2964_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:439px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2964 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:959px;
  width:439px;
  height:19px;
}
#u2965 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:439px;
  white-space:nowrap;
}
#u2966_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:39px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2966 {
  border-width:0px;
  position:absolute;
  left:82px;
  top:910px;
  width:300px;
  height:39px;
}
#u2967 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:296px;
  word-wrap:break-word;
}
#u2968_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:23px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.686274509803922);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(119, 119, 119, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u2968 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:261px;
  width:176px;
  height:23px;
  font-size:14px;
  color:#FFFFFF;
}
#u2969 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:172px;
  word-wrap:break-word;
}
#u2970_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:362px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2970 {
  border-width:0px;
  position:absolute;
  left:829px;
  top:491px;
  width:373px;
  height:362px;
}
#u2971 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:173px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2972_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2972 {
  border-width:0px;
  position:absolute;
  left:839px;
  top:505px;
  width:100px;
  height:100px;
}
#u2973 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:41px;
  width:96px;
  word-wrap:break-word;
}
#u2974_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#999999;
}
#u2974 {
  border-width:0px;
  position:absolute;
  left:949px;
  top:582px;
  width:78px;
  height:16px;
  font-size:13px;
  color:#999999;
}
#u2975 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  white-space:nowrap;
}
#u2976_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u2976 {
  border-width:0px;
  position:absolute;
  left:1167px;
  top:546px;
  width:25px;
  height:25px;
}
#u2977 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:21px;
  word-wrap:break-word;
}
#u2978_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2978 {
  border-width:0px;
  position:absolute;
  left:845px;
  top:682px;
  width:57px;
  height:16px;
}
#u2979 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u2980_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:2px;
}
#u2980 {
  border-width:0px;
  position:absolute;
  left:839px;
  top:629px;
  width:353px;
  height:1px;
}
#u2981 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:349px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2982_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2982 {
  border-width:0px;
  position:absolute;
  left:1058px;
  top:677px;
  width:33px;
  height:28px;
}
#u2983 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:29px;
  word-wrap:break-word;
}
#u2984_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2984 {
  border-width:0px;
  position:absolute;
  left:1090px;
  top:677px;
  width:70px;
  height:28px;
}
#u2985 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:66px;
  word-wrap:break-word;
}
#u2986_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2986 {
  border-width:0px;
  position:absolute;
  left:1159px;
  top:677px;
  width:33px;
  height:28px;
}
#u2987 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:29px;
  word-wrap:break-word;
}
#u2988_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u2988 {
  border-width:0px;
  position:absolute;
  left:829px;
  top:807px;
  width:373px;
  height:46px;
  color:#FFFFFF;
}
#u2989 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:369px;
  word-wrap:break-word;
}
#u2990_img {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-9px;
  width:172px;
  height:19px;
}
#u2990p000 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:158px;
  height:4px;
}
#u2990p000_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:160px;
  height:6px;
}
#u2990p001 {
  border-width:0px;
  position:absolute;
  left:-8px;
  top:-10px;
  width:20px;
  height:20px;
}
#u2990p001_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:22px;
  height:22px;
}
#u2990p002 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:-10px;
  width:20px;
  height:20px;
}
#u2990p002_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:22px;
  height:22px;
}
#u2990.compound {
  width:0px;
  height:0px;
}
#u2990 {
  border-width:0px;
  position:absolute;
  left:675px;
  top:825px;
  width:154px;
  height:1px;
}
#u2991 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:150px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2992_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FF0000;
}
#u2992 {
  border-width:0px;
  position:absolute;
  left:949px;
  top:545px;
  width:89px;
  height:27px;
  font-size:20px;
  color:#FF0000;
}
#u2993 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
